@{
    ViewData["Title"] = "Home Page";
}

<p class="text-justify"><h2>Добро пожаловать в систему автоматизированной выдачи заданий</h2></p>
<h5>
    Пожалуйста, <a asp-area="" asp-controller="Home" asp-action="Login">войдите</a> в систему
</h5>   
